h1,
h2, 
h3,
h4,
h5
p {
  margin: 0;
}

/* colormind.io */

*,
*::after,
*::before {
  /* this makes the box not include extra size when adding "padding" */
  box-sizing: border-box;
}

:root {
  --midnight-blue: #133D51
  --sage-green: #678A7D
  --golden-yellow: #F3C781
  --tangerine-orange: #EA980E
  --rust-red: #A6321A
}